@page "/crudExams/ExamsAttempt/MelhorNota/{examId:int}"
@using BusinessLogic.Entities
@inject HttpClient HttpClient

<h1 class="mb-5">Melhor Nota</h1>

<ul>
    @if (_professional == null)
    {
        <li>There were no professionals found with the best grade for this exam.</li>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var professional in _professional)
                    {
                        <tr>
                            <td>@professional.Name</td>
                        </tr>
                    }
            </tbody>
        </table>
    }
</ul>

@code {

    private Professional[] _professional;
    
    [Parameter]
    public int ExamId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadBestGrade();
    }

    private async Task LoadBestGrade()
    {
        _professional = await HttpClient.GetFromJsonAsync<Professional[]>($"https://localhost:7199/api/Professional/MelhorNota?examId={ExamId}");
    }
}